body {
  background-image: url("https://wallpapercave.com/wp/wp2945015.jpg");
  margin: 0;
  padding: 0;
  color: #61dafa;
  font-family: montserrat, Arial, Helvetica, sans-serif;
}
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
